
body{
	background-color: #56836F;
}
nav{
	text-transform: uppercase;
	font-size: 40px;
	padding-left: 15%;
}
header{
	margin-bottom: 64px;
}
ol{
	float: left;
	margin-right: 65px;
}
div{
	background-color: #FCEE21;
	float: left;
	width: 532px;
}
.div1-img{
	float: right;
	padding: 15px;

}
.div2-img{
	float: left;
	padding: 15px;
}
.div1{
	margin-left: 100px;
	margin-right: 62px;
}
p{
	padding: 15px;
}